<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        //      为 servlet 取一个名称
        <servlet-name>HelloServlet</servlet-name>
        //包及类名
        <servlet-class>servlet.HelloServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        //与上面定义的servlet-name对应
        <servlet-name>HelloServlet</servlet-name>
        //路径，与超链接访问路径（请求路径）一致
        <url-pattern>/servlet/HelloServlet</url-pattern>
    </servlet-mapping>
</web-app>